body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

button {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
